#!/usr/bin/env zsh

typeset -g PKGMGR_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}/zsh"
typeset -g PKGMGR_DB="$PKGMGR_STATE_HOME/package-providers.db"
typeset -g PKGMGR_DB_LOCK="$PKGMGR_STATE_HOME/package-providers.lock"
typeset -g MACPORTS_PREFIX="${MACPORTS_PREFIX:-/opt/local}"
typeset -g HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-/usr/local}"
typeset -g HOMEBREW_BREW="${HOMEBREW_BREW:-$HOMEBREW_PREFIX/bin/brew}"

command mkdir -p -- "$PKGMGR_STATE_HOME" || {
    print -u2 -r -- "pkgmng: cannot create state directory: $PKGMGR_STATE_HOME"
    return 1
}
command touch -- "$PKGMGR_DB" || {
    print -u2 -r -- "pkgmng: cannot create provider database: $PKGMGR_DB"
    return 1
}
